@model ApplicationDevGroupWork.Models.CastMembers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CastMembers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CastDetails.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastDetails.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVDDetails.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVDDetails.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CastMemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
