@model IEnumerable<DVDRentalSystem.Models.CastMembers>
@{
    ViewBag.Title = "FilterTitleByLastName";
}

<h2>FilterTitleByLastName</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CastDetails.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVDDetails.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CastDetails.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDDetails.Name)
            </td>

        </tr>
    }

</table>
